.table-new {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table-header-new {
    display: table-header-group;
    background: #f0f0f0;
    font-weight: bold;
}

.table-body-new {
    display: table-row-group;
}

.table-row-new {
    display: table-row;
}

.table-cell-new {
    display: table-cell;
    border: 1px solid #ccc;
    padding: 2px;
    text-align: center;
    font-size: 11px;;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

body {
    font-family: "Montserrat";
    font-size: 10pt;
}

@page {
    margin-top: 10px;
    size: letter;
    margin-bottom: 70mm;
}

.bold-text {
    font-weight: bold;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    line-height: 35px;
}

* {
    margin-bottom: 0px !important;
}

main {
    margin-bottom: 60px !important;
}

.pie {
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid gray;
    /* Borde superior */
    padding-top: 5px;
    height: 2cm;
}

.titulo {
    font-family: "Times New Roman", "Monserrat";
    font-size: 11pt;
}

.text-uppercase {
    text-transform: uppercase;
}

.mes-container {
    margin-bottom: 20px;
    page-break-inside: avoid;
}

.titulo-mes {
    color: #000;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Tabla Calendario */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 2px;
    text-align: center;
}

td {
    border: 1px solid #ccc;
    height: 40px;
    vertical-align: top;
    padding: 2px;
    width: 12.5%;
}

/* Estilos de celda */
.dia-numero {
    font-weight: bold;
    font-size: 10px;
    text-align: right;
    display: block;
}

.fin-de-semana {
    background-color: #fdf2f2;
    color: #a00;
}

.vacio {
    background-color: #fafafa;
}

/* Datos de asistencia */
.dato-hora {
    font-size: 9px;
    margin-bottom: 1px;
}

.entrada {
    color: #008000;
}

.salida {
    color: #cc0000;
}

.tiempo-total {
    background-color: #e6f3ff;
    color: #0056b3;
    text-align: center;
    display: block;
    border-radius: 4px;
    font-size: 10px;
    line-height: 1;
    margin-top: 1px;
}

.badge-multiline {
    white-space: normal;
    line-height: 1;
    font-size: 10px;
    text-align: center;
    border-radius: 2px;
    text-transform: capitalize;
}

.info-bloque {
    font-size: 11px;
    white-space: normal;
    line-height: 1;
}
